/* 清除内外边距 */

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,
/* structural elements 结构元素 */
dl,dt,dd,ul,ol,li,div,
/* list elements 列表元素 */
pre,
/* text formatting elements 文本格式元素 */
fieldset,lengend,button,input,textarea,
/* form elements 表单元素 */
th,td {
    /* table elements 表格元素 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body,
#app {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* 设置默认字体 */
body,
button,
input,
select,
textarea {
    font: 12px/1 Tahoma, Helvetica, Arial, '\5B8B\4F53', sans-serif;
    font-family: 'Arial-BoldMT', 'MicrosoftYaHei';
}
h1 {
    font-size: 18px;
    /* 18px / 12px = 1.5 */
}
h2 {
    font-size: 16px;
}
h3 {
    font-size: 14px;
}
h4,
h5,
h6 {
    font-size: 100%;
}
/* 将斜体扶正 */

code,
kbd,
pre,
samp,
tt {
    font-family: 'Courier New', Courier, monospace;
}

/* 统一等宽字体 */
small {
    font-size: 12px;
}

/* 小于 12px 的中文很难阅读，让 small 正常化 */
/* 重置列表元素 */
ul,
ol {
    list-style: none;
}
/* 重置文本格式元素 */
a {
    text-decoration: none;
}
/*a:hover { text-decoration: underline; }*/
abbr[title],
acronym[title] {
    /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
    border-bottom: 1px dotted;
    cursor: help;
}

q:before,
q:after {
    content: '';
}
/* 重置表单元素 */
legend {
    color: #000;
}
/* for ie6 */
fieldset,
img {
    border: none;
}
/* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button,
input,
select,
textarea {
    font-size: 100%;
    /* 使得表单元素在 ie 下能继承字体大小 */
}
/* 重置表格元素 */
table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
}
img {
    display: inline-block;
}
/* 重置 hr */
hr {
    border: none;
    height: 1px;
}

input::-webkit-input-placeholder {
    color: #bbbbbb;
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #bbbbbb;
}

input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #bbbbbb;
}

input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #bbbbbb;
}

/* tailwind.css覆盖了antdv样式，此处对svg单独做处理 */
svg {
    vertical-align: unset !important;
}

/*  浮动  */
.fl {
    float: left;
}

.fr {
    float: right;
}
/*  清除浮动  */
.clearfix:after {
    content: ' ';
    display: block;
    clear: both;
    visibility: hidden;
}
/* 弹性盒子样式 */
.flex-wrap {
    display: flex;
    display: -moz-flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
.justify-center {
    /*水平居中*/
    justify-content: center;
}

.flex-center {
    align-items: center;
}

.flex-between {
    justify-content: space-between;
}

.flex-all {
    align-items: center;
    justify-content: center;
}
.flex-1 {
    flex: 1;
    z-index: 0;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.flex-5 {
    flex: 5;
}
/*ios按钮的问题*/
input[type='button'],
input[type='submit'],
input[type='file'],
button {
    cursor: pointer;
}
/* 常用颜色 */
.primary {
    color: #3580f2;
    cursor: pointer;
}

.danger {
    color: #ff2d55 !important;
    cursor: pointer !important;
}

.warning {
    color: #ff9c00;
}

.succsess {
    color: #33c077;
}

.default {
    color: #a1a2a3;
}

.show {
    display: block;
}

.hide {
    display: none;
}

/* 全局滚动条样式修改 */
::-webkit-scrollbar {
    /*高宽分别对应横竖滚动条的尺寸*/
    cursor: pointer;
    width: 5px;
    height: 8px; //x轴滚动条粗细
}

::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 5px;
    // box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    // -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #d9d9d9;
}

::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    // box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    // -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: transparent;
}

/* 绝对定位 */
.absolute {
    position: absolute;
}

/* 相对定位 */

.relative {
    position: relative;
}

.image-content,
.upload-box {
    width: 80px;
    height: 80px;
    img {
        width: 100%;
        height: 100%;
    }
}

.upload-box {
    border: 1px solid #efefef;
    border-radius: 4px;
    margin-right: 8px;
}

.no-data {
    width: 100%;
    height: 100%;
    background: url('@/assets/images/no-data.png') no-repeat center center;
}

.no-permissions {
    width: 100%;
    height: 100%;
    background: url('@/assets/images/no-permissions.png') no-repeat center 42%;
    display: flex;
    align-items: center;
    justify-content: center;
    span{
        margin-top: 60px;
        color: #8c8c8c;
    }
}

.none-data {
    width: 100%;
    height: 100%;
    background: url('@/assets/images/no-text.svg') no-repeat center center;
}
.none-addition {
    width: 100%;
    height: 120px;
    background: url('@/assets/images/no-text.svg') no-repeat center center;
    background-size: 64px auto;
}

.mb0 {
    margin-bottom: 0 !important;
}

.mt8 {
    margin-top: 8px;
}

.mt12 {
    margin-top: 12px;
}

.mr8 {
    margin-right: 8px;
}

.ml8 {
    margin-left: 8px;
}

.tr-checked {
    background: #efefef;
}

.desc-img {
    max-width: 60px;
    max-height: 48px;
    width: auto;
    height: auto;
}

.mix-required {
    position: relative;
    &::before {
        display: inline-block;
        margin-right: 4px;
        color: #f24130;
        font-size: 14px;
        font-family: SimSun, sans-serif;
        line-height: 1;
        content: '*';
    }
}